<header>
  <div class="header-inner">
    <div class="logo">
      <a href="/"><img src="images/logo.jpeg" alt="Logo" /></a>
    </div>
    <div class="menu-toggle">&#8942;</div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li class="dropdown">
          <a href="#">Business </a>
          <div class="dropdown-panel">
            <div class="dropdown-section">
              <h4>Business Overview</h4>
              <a  id="learn" href="/business">Learn more</a>
            </div>
            <div class="dropdown-section">
              <h4>Business Verticals</h4>
               <ul>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Automotive</a></li>
                <li><a href="#">Consumer & Retail</a></li>
                <li><a href="#">Infrastructure</a></li>
                <li><a href="#">Financial Services</a></li>
                <li><a href="#">Aerospace & Defence</a></li>
              </ul>
            </div>
          </div>
        </li>

        <li><a href="/sustainability">Sustainability</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/contactus">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
