<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="/css/business.css">
  <link rel="stylesheet" href="/css/contactus.css">
  <link rel="stylesheet" href="/css/news.css">
  <link rel="stylesheet" href="/css/sustainability.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<title><%= title %></title>
</head>
<body>
  <%- include("partials/header") %>

  <main>
    <%- body %>
  </main>

  <%- include("partials/footer") %>
</body>
</html>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuToggle = document.querySelector(".menu-toggle");
    const navMenu = document.querySelector("nav ul");

    menuToggle.addEventListener("click", () => {
      navMenu.classList.toggle("show");
    });
  });
</script>





  